<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= form_for @post, url: create_post_path do |f| %>
  title:<%= f.text_field :title %><br/>
  body:<%= f.text_area :body %><br/>
  <%= f.submit %><br/>
<% end %>

<% @posts.each do |post| %>

  <%= form_tag("/posts/#{post.id}", method: :put ) do %>
    <input type="text" name="post[title]" value="<%= post.title %>" />
    <textarea name="post[body]"><%= post.body %></textarea>
    <input type="submit" value="Update" />
  <% end %>
  <%= link_to "削除", post_delete_path(post.id), method: :delete %>

<% end %>